<p class="text-center font-monospace" style=" font-size: xx-large;">Add-user works!</p>

<div class="container mt-3">
    
    <form  [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
        <div class="mb-3 mt-3">
            <label for="Name">Name</label>
            <input type="test" class="form-control" id="name" placeholder="Enter Name" name="Name" formControlName="name">
          </div>
      
      <div class="mb-3">
        <label for="userName">userName</label>
        <input type="text" class="form-control" id="userName" placeholder="Enter userName" name="UserName" formControlName="username">
      </div>

      <div class="mb-3 mt-3">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="Email" formControlName="email">
      </div>
      <div class="text-center">
      <button type="submit" class="btn btn-success btn-lg m-1">Add</button>
    <button type="submit" class="btn btn-danger m-1" (click)="onCancel()">cancel</button>
</div>
    </form>
  </div>
