<div  class="row">
    <div class="col-4">
        <div class="container mt-3">
    
            <form  >
                <div class="mb-3 mt-3">
                    <label for="Name">Name</label>
                    <input type="test" class="form-control" id="name" placeholder="Enter Name" name="Name" formControlName="name">
                  </div>
              
              <div class="mb-3">
                <label for="userName">userName</label>
                <input type="text" class="form-control" id="userName" placeholder="Enter userName" name="UserName" formControlName="userName">
              </div>
    
              <div class="mb-3 mt-3">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"  formControlName="email">
              </div>
              
              <button type="submit" class="btn btn-info m-2" (click)="addNewUser()">Add new User</button>
          <span class="delete-user">   <button type="submit" class="btn btn-warning ">Delete-User</button></span>
            </form>
          </div>
          </div>
    
    
    <div class="col-8">
     <table class="table table-hover">
        <thead>
          <th class="col-2">id</th>
          <th class="col-2">name</th>
          <th class="col-2">UserName</th>
          <th class="col-3">email</th>
          <th class="col-1">Udate</th>
          
          <th class="col-1">View</th>
          <th class="col-1">Delete</th>
        </thead>
        <tbody>
        
          @for ( user of apiData ; track user.id){
            
          <tr>
            
            <td>{{ user.id}}</td>
            
            <td>{{ user.name}}</td>
            
            <td>{{ user.username }}</td>
            
            
            <td>{{user.email}}</td>
            <td>
              <button class="btn btn-warning ">Update</button>
            </td>
            <td>
              <button class="btn btn-secondary ">View</button>
            </td>
            <td>
              <button class="btn btn-danger  ">Delete</button>
            </td>
           }
        </tbody>
      </table> 
    </div>
      
    </div>